#encyclopedia-sidebar {
   background-color: white;
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;
   bottom: 0;
   overflow-y: scroll;
   width: 20vw;
   font-weight: 300;
   padding-top: 100px;
}

#encyclopedia-main {
   background-color: rgb(235, 235, 235);
   padding: 50px;
   position: fixed;
   z-index: 2;
   right: 0;
   top: 0;
   bottom: 0;
   overflow-y: scroll;
   width: 80vw;
}

#info-display {
   height: 100%;
   width: 42%;
   overflow-y: scroll;
   border-radius: 1%;
   float: left;
}

#encyclopedia-display {
   background-color: rgb(227, 12, 26);
   height: 100%;
   width: 55%;
   overflow-y: scroll;
   border-radius: 1%;
   float: right;
}

.encyclopedia-nav-btn {
   padding-left: 10px;
   display: flex;
   align-items: center;
   height: 50px;
}

.encyclopedia-nav-btn a {
   color: white;
}

.dark {
   background-color: rgb(41, 44, 52);
}

.light {
   background-color: rgb(69, 73, 87);
}