/* Shared Stlyes */
/* =================================== */

.dark {
    background-color: rgb(41, 44, 52);
    color: antiquewhite;
 }
 
 .light {
    background-color: rgb(69, 73, 87);
    color: antiquewhite;
 }
 
 /* Monster Panel Stlyes */
 /* =================================== */
 
 #setup-monsters {
    width: 100%;
    font-weight: 300;
 }
 
 #setup-monsters h4 {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: antiquewhite;
    background-color: rgb(227, 12, 26);
 }
 
 #monster-search {
    padding: 15px;
    background-color: rgb(41, 44, 52);
 }
 
 /* Encounter Panel Stlyes */
 /* =================================== */
 
 #setup-encounters h4 {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: antiquewhite;
    background-color: rgb(227, 12, 26);
 }
 
 .encounter-list-item {
    padding: 25px;
 }
 
 .encounter-list-item ul {
    margin: 0;
 }

 .submit-btn {
    margin-bottom: 1rem;
 }

#monster-list {
   border-radius: 1%;
   float: left;
   overflow: hidden;
}

#block {
    padding: 0 1rem 1rem 1rem;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    height: 350px;
}

.search-results-encounter {
   overflow-y: scroll;
   height: 220px;
}

.btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
   background-color: rgb(227, 12, 26);
   color: antiquewhite;
}