.red {
    background-color: rgb(212,61,66);
    color: white;
}

.grey {
    background-color: rgb(69, 73, 87);
    color: white;
}

.card {
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}