.homeDisplay {
    background-color: rgba(227, 12, 26);
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/dnd.png);
    background-repeat: no-repeat;
    background-position: 64% 31%;
    /* background-attachment: fixed; */
    /* height: 500px; */
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    
}
