#campaign-monsters {
   position: relative;
   left: 0;
   bottom: 0;
   overflow-y: scroll;
   width: 20vw;
   font-weight: 300;
}

.dark {
   background-color: rgb(41, 44, 52);
   color: white;
}

.light {
   background-color: rgb(69, 73, 87);
   color: white;
}