/* Shared Stlyes */
/* =================================== */

.dark {
   background-color: rgb(41, 44, 52);
   color: antiquewhite;
}

.light {
   background-color: rgb(69, 73, 87);
   color: antiquewhite;
}

/* Monster Panel Stlyes */
/* =================================== */

#campaign-monsters {
   width: 100%;
   font-weight: 300;
}

#campaign-monsters h4 {
   padding: 10px 0;
   margin: 0;
   text-align: center;
   color: antiquewhite;
   background-color: rgb(227, 12, 26);
}

#monster-search {
   padding: 15px;
   background-color: rgb(41, 44, 52);
}

.monster-name {
   transition: all 100ms;
   cursor: pointer;
}

.monster-name:hover {
   color: rgb(227, 12, 26);
}

/* #c-monster-list {
   overflow-y: scroll;
   min-width: 100%;
   height: 50%;
} */

/* Encounter Panel Stlyes */
/* =================================== */

#campaign-encounters h4 {
   padding: 10px 0;
   margin: 0;
   text-align: center;
   color: antiquewhite;
   background-color: rgb(227, 12, 26);
}

.encounter-list-item {
   padding: 25px;
}

.encounter-list-item ul {
   margin: 0;
}

/* Character Panel Stlyes */
/* =================================== */

#campaign-characters h4 {
   padding: 10px 0;
   margin: 0;
   text-align: center;
   color: antiquewhite;
   background-color: rgb(227, 12, 26);
}

.character-list-item {
   padding: 25px;
}

.character-list-item p {
   margin: 0;
}