/* Shared Stlyes */
/* =================================== */

.dark {
  background-color: rgb(41, 44, 52);
  color: antiquewhite;
}

.light {
  background-color: rgb(69, 73, 87);
  color: antiquewhite;
}

/* Spell Panel Styles */
/* =================================== */

#Encyclopedia-spells {
  width: 100%;
  font-weight: 300;
}

#campaign-spells h4 {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: antiquewhite;
  background-color: rgb(227, 12, 26);
}

#spell-search {
  padding: 15px;
  background-color: rgb(41, 44, 52);
}

/* Encounter Panel Stlyes */
/* =================================== */
/* 
#campaign-encounters h4 {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: antiquewhite;
  background-color: rgb(227, 12, 26);
}

.encounter-list-item {
  padding: 25px;
} */

.encounter-list-item ul {
  margin: 0;
}