#setup-sidebar {
   background-color: rgb(41, 44, 52);
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;
   bottom: 0;
   overflow-y: scroll;
   width: 20vw;
   font-weight: 300;
   padding-top: 100px;
}

#setup-main {
   background-color: antiquewhite;
   position: fixed;
   z-index: 2;
   right: 0;
   top: 0;
   bottom: 0;
   overflow-y: scroll;
   width: 80vw;
}

#setup {
   background-color: antiquewhite;
   width: 70%;
   -ms-flex: 1 1;
   flex: 1 1;
   padding-left: 30%;
   min-height: 100vh;
   z-index: 2;
}

#setup-display {
   background-color: rgb(227, 12, 26);
   height: 100%;
   width: 55%;
   overflow-y: scroll;
   border-radius: 1%;
   float: right;
}

.setup-nav-btn {
   padding-left: 10px;
   display: flex;
   align-items: center;
   height: 50px;
}

.setup-nav-btn a {
   color: antiquewhite;
}

.dark {
   background-color: rgb(41, 44, 52);
}

.light {
   background-color: rgb(69, 73, 87);
}

#cta {
   float: left;
   margin: 1rem 1rem 0 0;
}

.red:first-child {
   margin-top: 0;
}

#wrapper {
   margin: 1rem;
}

#render {

   float: left;
}