#form-container {
  margin: 0;
  background-color: rgb(154, 154, 154);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signin-form {
  /* margin-top: 30vh; */
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-form {
  width: 50%;
  min-height: 100vh;
  /* margin-top: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

