#campaign-sidebar {
   background-color: rgb(41, 44, 52);
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;
   bottom: 0;
   overflow-y: scroll;
   width: 20vw;
   font-weight: 300;
   padding-top: 100px;
}

#campaign-main {
   background-color: rgb(235, 235, 235);
   padding: 30px;
   position: fixed;
   z-index: 2;
   right: 0;
   top: 0;
   bottom: 0;
   overflow-y: scroll;
   width: 80vw;
}

#info-display {
   background-color: rgb(41, 44, 52);
   color: white;
   height: 100%;
   width: 42%;
   overflow-y: scroll;
   border-radius: 1%;
   float: left;
}

#combatants-display {
   background-color: rgb(41, 44, 52);
   color: white;
   font-weight: 300;
   height: 100%;
   width: 55%;
   border-radius: 1%;
   overflow-y: scroll;
   float: right;
}

#combatants-list {
   overflow-y: scroll;
   height: 80%;
}

.initiative-buttons {
   position: absolute;
   bottom: 50px;
   right: 50px;
}

.initiative-buttons .btn {
   background-color: rgb(227, 12, 26);
   margin: 0 10px;
}

#combatants-display h4 {
   padding: 10px 0;
   margin: 0;
   text-align: center;
   color: white;
   background-color: rgb(227, 12, 26);
}

.campaign-nav-btn {
   padding-left: 10px;
   display: flex;
   align-items: center;
   height: 50px;
   cursor: pointer;
}

.campaign-nav-btn a {
   color: white;
}

.dark {
   background-color: rgb(41, 44, 52);
}

.light {
   background-color: rgb(69, 73, 87);
}