/* Shared Stlyes */
/* =================================== */

.dark {
  background-color: rgb(41, 44, 52);
  color: white;
}

.light {
  background-color: rgb(69, 73, 87);
  color: white;
}

/* Monster Panel Stlyes */
/* =================================== */

#campaign-monsters {
  width: 100%;
  font-weight: 300;
}

#campaign-monsters h4 {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: white;
  background-color: rgb(212,61,66);
}

#monster-search {
  padding: 15px;
  background-color: rgb(41, 44, 52);
}

/* Encounter Panel Stlyes */
/* =================================== */

#campaign-encounters h4 {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: white;
  background-color: rgb(212,61,66);
}

.encounter-list-item {
  padding: 25px;
}

.encounter-list-item ul {
  margin: 0;
}

td {
  padding: 5px;
}